/* * {
    padding: 0%;
    margin: 0%;
} */

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


html 
{
	scroll-behavior: smooth;
}
body {
	/* overflow: hidden; */
	margin: 0;
	padding: 0;
	background: #000;
	color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
}

a {
	color: #d9d9d9;
	text-decoration: none;
}

p {
	font-size: 18px;
}

#particles-js {
	/* height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1; */

	width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

}


.container {
	width: 100%;
	margin: 0;
	position: relative;
	z-index: 99;
}

/* NAVIGATION */

.nav-main {
	margin: 0;
	padding: 0;
	margin-left: -47px;
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	/* /* position: fixed; */
	
}



.dmendezdev {
	width: 30px;
	height: 30px;
	/* padding-right: -80px;	 */
	border-radius: 17px;
}
.dmendezdev:hover {
	transform: scale(1.6);
}

/* NAV LEFT*/	
.nav-main ul {
	display: flex;
}

.nav-main ul li {
	padding: 10px;
}

.nav-main ul li a:hover {
	background: rgb(13, 13, 13, 0.2);
	transform: scale(1,1);
	color: #29F48F;
}

.nav-main ul.nav-menu {
	flex: 1;
	margin-right: 50%;
}

/*SHOWCASE*/

hr {
	margin: 10px 0px;
	/* width: 100% */
}

.showcase {
	width: auto;
	height: 87vh;
	/* background: url('Dx1x25.mp4') fixed; */
	background-size: cover;
	background-attachment: fixed;
	box-shadow: 0 10px 100px #1a1a1a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dm {
	margin: 10px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dmp{
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 30px;
}

#contactar {
	background: #056133 ; 
	padding: 12px 22px;
	font-size: 13px;
	border-radius: 50px;
	margin-top: 35px;
	margin-bottom: 5px;
}
#contactar:hover 
{
	background: #0d0d0d;
	transform: scale(1,1);
	color: #056133;
}

.loader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 20vh;
	position: relative;
	-webkit-box-reflect: below -105px linear-gradient(transparent,#0001);
}

.loader::before {
	content: '';
	position: absolute;
	top: 20;
	right: 0;
	width: 2px;
	height: 20px;
	background: #d9d9d9;
	animation: blinkCursor 0.8s steps(3) infinite;
}
@keyframes blinkCursor 
{
	0%,75%
	{
		opacity: 1;
	}
	76%,100%{
		opacity: 0;
	}
}

.loader h2 {
	position: relative;
	color: #fff;
	letter-spacing: 2px;
	font-size: 24px;
	animation: typing 8s steps(9) infinite;
	overflow: hidden;
}

@keyframes typing
{
   0%,90%,100%
   {
    width: 0;
   }
   30%,60%
   {
   	width: 140.83px;
   }
}


 /*UNDER SHOWCASE*/



 /*---ABOUT---*/

.title h2 {
	position: relative;
	color: #d9d9d9;
	font-size: 1.8em;
	font-weight: 700;
	letter-spacing: 2px;

}

.title p {
	max-width: 700px;
	display: inline-block;
	color: #fff;
}

.title h2::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	width: 60px;
	height: 4px;
	background: #09aa59;
}

.about {
	padding-top: 40px;
	text-align: center;

}

.about .content {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.textBx {
	background: rgb(38, 38, 38, .8);
	box-shadow: 0 10px 100px #1a1a1a;
}

.about .content .textBx p {

	background: #0d0d0d .8;
	color: #fff;
	text-align: justify;
	width: 70%;
	margin-left: 17%;
}

.about .content .textBx p:hover {
	background: rgb(26, 26, 26, .8);
	transition: 1.5s;
}

 /*---SERVICES---*/

.services {
    padding-bottom: 25px;
	width: 100%;
	text-align: center;
	z-index: 10;
}
.title h2 {
	width: 100%;
	text-align: center;
	z-index: 10;
}

.services .content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.services .content .servicesBx {
	padding: 40px 20px;
	max-width: 340px;
	margin: 20px;
	transition: .5s;
	text-align: center;
	background: #0d0d0d .8;
}
.services .content .servicesBx:hover {
	background: #1a1a1a;
	transition: 1.5s;
}
.services .content .servicesBx img {
	max-width: 175px;
	transition: .5s;
}
.services .content .servicesBx h2{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

/*---WORK---*/
.work {
	width: 100%;
	text-align: center;
	z-index: 10;
}
.work .content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.work .content .workBx {
	padding: 40px 20px;
	max-width: 340px;
	margin: 20px;
	text-align: center;

}
.work .content .workBx .imgBx img {
	max-width: 175px;
	transition: .5s;
}

.work .content .workBx h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.imgBx img {
	max-height: 100px;
}

.nodeJs {
	background: none;
	box-shadow: none;
}

.nodeJs h3 {
	background: rgb(38, 38, 38, .8);
}

/*---CONTACT---*/

.contact {
	background: #000;
	box-shadow: 0 0 10px #1a1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact .contactForm {
	position: relative;
	width: 700px;
	margin-top: 20px;
}
.contact .contactForm .row {
	width: 100%;
	display: flex;
}
.contact .contactForm .row .col50 {
	width: 50%;
	margin: 15px;
}
.contact .contactForm .row .col100 {
	width: 100%;
	margin: 15px;
	text-align: center;
}
.contact .contactForm .row input,
.contact .contactForm .row textarea
 {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	background: #1a1a1a;
	color: #fff;
	font-size: 15px;
	resize: none;
}
.contact .contactForm .row textarea
{
	height: 100px;
}
.contact .contactForm .row input[type="submit"]
{
	background: #056133;
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	max-width: 150px;
}
.contact .contactForm .row input[type="submit"]:hover
{
	background: #0d0d0d;
	color: #056133;
}
.contact .contactForm .row input[type="submit"]:active
{
	background: #0d0d0d;
	color: #056133;
}

/*--FOOTER--*/

footer {
	width: 100%;
	margin-top: 10px;
}

footer .social 
{
	background: #0d0d0d;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 3px 10px;
}
footer .social a 
{
	margin: 10px;
	font-size: 22px;
	color: #056133;
	transition: all .2s ease;
}
footer .social .linkedin:hover 
{
	transform: scale(1.1,1.1);
	color: #fff;
}
footer .social .linkedin:hover 
{
	transform: scale(1.3,1.3);
	color: #fff;
}
footer .social .github:hover 
{
	transform: scale(1.1,1.1);
	color: #fff;
}
footer .social .github:hover 
{
	transform: scale(1.3,1.3);
	color: #fff;
}


/*--COPYRIGHT--*/

.copyright 
{
	color: #fff;
	background: #0d0d0d;
	text-align: center;
	padding: 10px;
}
.copyright p 
{
  margin: 0;
  font-size: 10px;
}

.dylanmendez {
	color: #29F48F;
}

/* PROYECTS*/

.flexbox img {
	width: 50vh;
	transition: .5;
}


@media screen and (max-width: 330px) {

	.fixeddd2 {
		position: fixed;
		/* padding-right: 20px;
		padding-top: 7px; */
		/* margin-left: -47px; */
		top: -20px;
		font-size: 17px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 1s ease;
		z-index: 2;
		background-color: #2d2d2d;
	}
}

video {
	height: max-content;
	z-index: -1;

}

.up {
	/* background-color: rgb(38, 38, 38, .8); */
	border-radius: 20px;
}

.up:hover {
	background-color: #29F48F;
}